.slate-link {
  text-decoration: underline;
}

.slate-link-overlay {
  :global {
    .ant-popover-inner-content {
      padding: 4px 5px;
      .slate-link-pop {
        display: flex;
        justify-content: center;
        .divider {
          width: 1px;
          margin: 0 5px;
          background-color: rgb(235, 236, 240);
        }
      }
    }
  }
}

.slate-link-button-active {
  color: red !important;
}
